<div class="card">
  <div>
    <div class="card-header">Listar</div>
    <div class="card-body">
      <form>
        <input type="text" id="search" name="search" class="form-control" [(ngModel)]="title"
          placeholder="Pesquisar pelo título" />
        <button (click)="searchTitle" class="btn btn-primary">Pesquisar</button>

        <h4>Listagem Posts</h4>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let post of posts; let i =index" [class.ative]="i == currentIndex"
            (click)="setActivePost(post, i)">{{ post.title }}</li>
        </ul>

        <button (click)="removeAllPosts" class="btn btn-danger">Remover todas as postagens</button>

        <div *ngIf="currentPost">
          <div>
            <label>Descrição:</label>
            {{ currentPost.description }}
          </div>

          <div>
            <label>Situação:</label>
            {{ currentPost.published ? "Publicado" : "Pendente"}}
          </div>

          <a class="btn btn-success" routerLink="/posts/{{ currentPost.id }}">Editar</a>
        </div>

        <div *ngIf="!currentPost">
          <p>Selecione uma postagem</p>
        </div>

      </form>
    </div>
  </div>
</div>